<div class="tab-content-wrapper">
    <div id="runall-content" class="tab-content" style="display: none;">
        <!-- Runall content will be loaded here -->
    </div>

    <div id="download-content" class="tab-content">
        <!-- Download content will be loaded here -->
    </div>

    <div id="runstep-content" class="tab-content" style="display: none;">
        <!-- Detail content will be loaded here -->
    </div>

    <div id="settings-content" class="tab-content" style="display: none;">
        <!-- Settings content will be loaded here -->
    </div>
</div>
